* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  background-color: #2785e2;
  color: #fff;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  text-align: center;
  text-transform: capitalize;
}

.main {
  grid-column: 6 / 8;
  grid-row: 3 / 8;
  background-color: #fff;
  justify-self: center;
  height: 100%;
  width: 100%;
  border: 4px solid blue;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.remaining {
  color: blue;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  text-align: center;
}

.footer {
  grid-column: 4 / 10;
  grid-row: 9 / 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer p {
  grid-column: 1 / -1;
  text-align: center;
  text-transform: capitalize;
}

.glass_250ml {
  justify-self: center;
  height: 60px;
  width: 40px;
  border: 4px solid blue;
  background-color: #fff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  color: blue;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.glass_250ml.select {
  background-color: skyblue;
  color: #fff;
}
