* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  background-color: #f9f9f9;
}
